global
    log stdout format raw local0

defaults
    mode http
    timeout connect 10s
    timeout client 30s
    timeout server 30s
    retries 3

frontend http_front
    bind *:80
    acl is_least path_beg /least/
    acl is_slow path_beg /slow/
    acl is_iphash path_beg /iphash/
    use_backend least_back if is_least or is_slow
    use_backend iphash_back if is_iphash
    default_backend http_back

backend http_back
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    server server1 backend1:8000 check inter 1000 rise 1 fall 1
    server server2 backend2:8000 check inter 1000 rise 1 fall 1
    server server3 backend3:8000 backup

backend least_back
    balance leastconn
    option httpchk GET /health
    http-check expect status 200
    server server1 backend1:8000 check inter 1000 rise 1 fall 1
    server server2 backend2:8000 check inter 1000 rise 1 fall 1
    server server3 backend3:8000 backup

backend iphash_back
    balance source
    option httpchk GET /health
    http-check expect status 200
    server server1 backend1:8000 check inter 1000 rise 1 fall 1
    server server2 backend2:8000 check inter 1000 rise 1 fall 1
    server server3 backend3:8000 check inter 1000 rise 1 fall 1
